@import "../../../styles/config.scss";

.header {
  @include primaryFont;
  color: $primary-color-light;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 25px;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordersList {
  .orderItem {
    @include primaryFont;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    color: $primary-color-light;
    .row {
      padding-right: 7px;
      &.date {
        word-break: break-all;
      }
      &.games {
        .gameName {
          display: block;
          margin-bottom: 5px;
          color: $primary-color-light;
          text-decoration: none;
          text-decoration: underline;
          &:last-of-type {
            margin-bottom: 0;
          }
          .accent {
            font-weight: bold;
            margin-left: 10px;
            color: $accent-color;
            font-style: italic;
          }
        }
      }
    }
    &.headerItem {
      font-weight: bold;
      padding-bottom: 20px;
      border-bottom: 2px solid $accent-color;
    }
    &.footerItem {
      padding-top: 20px;
      border-top: 2px solid $primary-color;
    }
  }
  .notFound {
    @include primaryFont;
    color: $primary-color-light;
  }
}

@import "./media.module.scss";
