@import "../../styles/config.scss";

.cartContainer {
  padding: $header-height $default-gap 0;
  background-color: $secondary-color-dark;
  min-height: calc(100vh - #{$header-height});
  .emptyCartContent {
    margin: 40px auto 0;
    padding: 30px;
    background-color: $secondary-color-light;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .iconContainer {
      max-width: 200px;
      margin-bottom: 30px;
    }
    .header {
      @include primaryFont;
      color: $primary-color-light;
      text-transform: uppercase;
      font-size: 35px;
      margin-bottom: 20px;
      text-align: center;
      line-height: 1.2;
    }
    .text {
      @include primaryFont;
      color: $primary-color;
      margin-bottom: 20px;
      text-align: center;
      line-height: 1.2;
    }
    .btn {
      @include primaryFont;
      padding: 15px 20px;
      border-radius: 5px;
      font-size: 17px;
      border: none;
      color: $primary-color-light;
      background-color: $accent-color;
      cursor: pointer;
    }
  }
  .cartContent {
    display: grid;
    margin: 40px auto 0;
    max-width: 1200px;
    grid-template-columns: 1fr 300px;
    grid-template-areas: "cartList total" "cartList .";
    grid-column-gap: 20px;
    .cartListContainer {
      background-color: $secondary-color-light;
      padding: 30px;
      grid-area: cartList;
      .header {
        @include primaryFont;
        color: $primary-color-light;
        text-transform: uppercase;
        font-size: 25px;
        padding-bottom: 20px;
      }

      .cartList {
        .cartItem {
          @include primaryFont;
          display: grid;
          grid-template-columns: minmax(70px, 1fr) 70px 30px;
          margin-top: 20px;
          color: $primary-color-light;
          .col {
            padding-right: 7px;
            display: flex;
            align-items: center;
            &:last-of-type {
              padding-right: 0;
            }
            &.name {
              cursor: pointer;
            }
            &.price {
              justify-content: end;
            }
            &.action {
              .btn {
                @include basicBtn;
                width: 30px;
                height: 30px;
              }
            }
            .accent {
              color: $accent-color;
              font-weight: bold;
              margin-left: 10px;
            }
          }
        }
        .headerItem {
          font-weight: bold;
          padding-bottom: 20px;
          border-bottom: 2px solid $accent-color;
          .row.name {
            text-decoration: none;
          }
        }
      }
    }
    .totalBlockContainer {
      background-color: $secondary-color-light;
      padding: 30px;
      grid-area: total;
      .header {
        @include primaryFont;
        color: $primary-color-light;
        text-transform: uppercase;
        font-size: 25px;
        padding-bottom: 20px;
      }
      .totalPrice {
        @include primaryFont;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        color: $primary-color-light;
        font-weight: bold;
        padding-bottom: 20px;
        border-bottom: 2px solid $primary-color;
        .price {
          font-weight: normal;
        }
      }
      .actionsBlock {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .btn {
          @include basicBtn;
          padding: 15px 20px;
          border-radius: 5px;
          color: $primary-color-light;
          &.submitBtn {
            background-color: $accent-color;
          }
          &.clearBtn {
            background-color: $primary-color-dark;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.loaderContainer {
  display: flex;
  padding-top: $header-height;
  min-height: calc(100vh - #{$header-height});
  background-color: $secondary-color-dark;
  align-items: center;
  justify-content: center;
}

@import "./media.module.scss";
