@import "../../styles/config.scss";

.sliderRangeContainer {
  .range {
    margin-bottom: 15px;
  }
  .inputsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    max-width: 100%;
    .inputLabel {
      text-align: center;
      color: $primary-color;
      @include primaryFont;
      .input {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border: none;
        background-color: $secondary-color;
        @include primaryFont;
        color: $primary-color-light;
        -moz-appearance: textfield;
        margin-top: 7px;
      }
    }
  }
}
