@import "../../../styles/config.scss";

@media all and (max-width: 1100px) {
  .gamesContainer {
    .gamesList {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media all and (max-width: 900px) {
  .gamesContainer {
    .infoContainer {
      .openFiltersBtn {
        display: flex;
      }
    }
  }
}

@media all and (max-width: 700px) {
  .gamesContainer {
    .gamesList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media all and (max-width: 400px) {
  .gamesContainer {
    .gamesList {
      grid-template-columns: 1fr;
    }
    .infoContainer {
      flex-direction: column;
      align-items: flex-end;
      .sortByContainer {
        margin-bottom: 20px;
      }
    }
  }
}
