@import "../../../../styles/config.scss";

.dashboardContent {
  .header {
    @include primaryFont;
    color: $primary-color-light;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .diagramsBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    .diagramContainer {
      background-color: $secondary-color-light;
      padding: 20px;
      .header {
        text-align: center;
        line-height: 1.4;
      }
      .diagramContent {
        padding: 20px;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
