@import "../../styles/config.scss";

.searchBarContainer {
  position: relative;
  display: inline-block;
  .input {
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: $secondary-color;
    padding: 15px;
    color: $primary-color-light;
    @include primaryFont;
    &::placeholder {
      @include primaryFont;
      color: white;
    }
  }
  .searchResultsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    .searchResultItem,
    .notFound {
      @include primaryFont;
      background-color: $primary-color-dark;
      padding: 15px;
      color: $primary-color-light;
    }
  }
}
