@import "../../styles/config.scss";

@media all and (max-width: 1000px) {
  .adminContainer {
    &:after {
      position: fixed;
      content: "";
      background-color: rgba(0, 0, 0, 0);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      transition: 0.7s;
      cursor: pointer;
    }
    &.overlay {
      &:after {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    .dataContainer {
      .actionsBlock {
        .btn.menuBtn {
          display: inline;
        }
      }
    }
  }
}
