@import "../../styles/config.scss";

.adminContainer {
  min-height: 100vh;
  min-width: 100%;
  background-color: $secondary-color-dark;
  display: inline-block;
  .dataContainer {
    background-color: inherit;
    padding: 30px;
    .loaderContainer {
      padding: 30px;
      display: flex;
      justify-content: center;
    }
    .actionsBlock {
      position: fixed;
      display: inline-block;
      background-color: $secondary-color-light;
      right: 0;
      top: 0;
      padding: 10px;
      z-index: 1;
      box-shadow: $basic-shadow;
      .btn {
        background-color: inherit;
        border: none;
        height: 40px;
        cursor: pointer;
        &.menuBtn {
          display: none;
        }
      }
    }
  }
}

@import "./media.module.scss";
