@import "../../styles/config.scss";

$nav-list-width: 200px;

@media all and (max-width: 800px) {
  .headerContainer {
    padding-right: $default-gap;
    &:after {
      content: "";
      top: $header-height;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      background-color: rgba(0, 0, 0, 0);
      display: none;
    }
    &.overlay {
      &:after {
        display: block;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
      }
    }
    .navContainer {
      .openMenuBtn {
        width: 60px;
        display: flex;
        align-items: center;
      }
      .navList {
        position: fixed;
        width: $nav-list-width;
        top: $header-height;
        bottom: 0;
        left: -#{$nav-list-width};
        background-color: $secondary-color-light;
        transition: 0.7s;
        &.open {
          left: 0;
        }
        .navItem {
          &.mobileOnlyItem {
            display: block;
            .iconContainer {
              max-width: 20px;
              margin-right: 10px;
            }
            .username {
              @include primaryFont;
              color: $primary-color-light;
              text-transform: uppercase;
              font-size: 14px;
            }
          }
          display: block;
          .link {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .profileContainer {
      .profile {
        display: none;
      }
      .cartBtn {
        display: none;
      }
    }
    .unauthProfile,
    .loadingProfile {
      display: none;
    }
  }
}
