@import "../../../styles/config.scss";

.ordersContent {
  .header {
    @include primaryFont;
    color: $primary-color-light;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .ordersList {
    background-color: $secondary-color-light;
    .orderItem {
      @include primaryFont;
      display: grid;
      padding: 20px;
      grid-template-columns: 30px repeat(4, 1fr);
      color: $primary-color-light;
      cursor: pointer;
      span {
        line-height: 1.4;
        padding-right: 15px;
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
    .headerItem {
      cursor: default;
      font-weight: bold;
      border-bottom: 2px solid $accent-color;
    }
  }
}
