@import "../../../styles/config.scss";

.header {
  @include primaryFont;
  color: $primary-color-light;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 25px;
}
.achievementsList {
  .achievementItem {
    @include primaryFont;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: $primary-color-light;
    .row {
      padding-right: 7px;
    }
    &.headerItem {
      font-weight: bold;
      padding-bottom: 20px;
      border-bottom: 2px solid $accent-color;
      .row {
        text-align: center;
      }
    }
    &.footerItem {
      font-weight: bold;
      padding-top: 20px;
      border-top: 2px solid $primary-color;
    }
  }
  .notFound {
    @include primaryFont;
    color: $primary-color-light;
  }
}
