@import "../../styles/config.scss";

.itemContent {
  max-width: 600px;
  .header {
    @include primaryFont;
    color: $primary-color-light;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .form {
    background-color: $secondary-color-light;
    padding: 30px;
    .label {
      display: block;
      margin-bottom: 10px;
      .labelText {
        @include primaryFont;
        color: $primary-color-light;
        margin-right: 10px;
      }
    }
    .button {
      background-color: $accent-color;
      border: none;
      color: $primary-color-light;
      padding: 15px 20px;
      margin-top: 15px;
      cursor: pointer;
    }
    .errorMsg {
      margin-top: 10px;
      @include primaryFont;
      color: $error-color;
    }
  }
}
