@import "../../styles/config.scss";

$filters-menu-width: 250px;
$filters-menu-gap: 13px;

.storeContainer {
  background-color: $secondary-color-dark;
  padding-top: $header-height;
  min-height: calc(100vh - #{$header-height});
  .storeContent {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 $default-gap;
    display: grid;
    grid-template-columns: 1fr $filters-menu-width;
    grid-column-gap: 30px;
    .gamesContainer {
      .infoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .infoContainer {
        padding: $default-gap 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sortByContainer {
          display: flex;
          align-items: center;
          .text {
            @include primaryFont;
            color: $primary-color;
            margin-right: 7px;
          }
        }
        .openFiltersBtn {
          @include basicBtn;
          display: none;
          align-items: center;
          .text {
            margin-right: 10px;
            color: $primary-color-light;
          }
        }
      }
      .notFoundBlock {
        .header {
          @include primaryFont;
          color: $primary-color;
          text-align: center;
          margin: 20px 0;
        }
        .iconContainer {
          max-width: 100px;
          margin: 0 auto;
        }
      }
      .gamesList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 10px;
        .gameItem {
          border-radius: 5px;
          box-sizing: border-box;
          cursor: pointer;
          .logoContainer {
            border-radius: 5px;
            min-height: 300px;
            background-color: #fff;
            background: no-repeat center/cover $primary-color-dark;
          }
          .name {
            @include primaryFont;
            margin-top: 20px;
            color: $primary-color-light;
          }
          .gameCreator {
            @include primaryFont;
            margin-top: 7px;
            color: $primary-color;
          }
          .priceBlock {
            margin: 20px 0;
            @include primaryFont;
            .saleSize {
              display: inline-block;
              color: $primary-color-light;
              background-color: $success-color;
              border-radius: 5px;
              padding: 5px;
              font-size: 12px;
            }
            .previousPrice {
              color: $primary-color;
              text-decoration: line-through;
              margin: 0 7px;
            }
            .currentPrice {
              color: $primary-color-light;
            }
          }
        }
      }
    }
    .filtersContainer {
      .header {
        @include primaryFont;
        color: $primary-color;
        padding: $default-gap 10px;
        position: relative;
        &.active {
          .closeIcon {
            display: inline-block;
          }
        }
        .filtersAmount {
          @include primaryFont;
          color: $primary-color;
          margin: 0 10px;
        }
        .closeIcon {
          cursor: pointer;
          position: absolute;
          display: none;
          right: 0;
        }
      }
      .filtersForm {
        display: block;
        width: 100%;
        background-color: inherit;
        border: none;
        color: $primary-color;
        .inputGroupHeader {
          @include primaryFont;
          padding: 20px $filters-menu-gap;
          font-size: 1.2em;
          color: $primary-color-light;
        }
        .sliderRangeContainer {
          padding: 0 $filters-menu-gap;
        }
        .inputGroup {
          @include primaryFont;

          .inputGroupItem {
            &.loadingItem,
            &.errorItem {
              padding: $filters-menu-gap;
            }
            .label {
              display: block;
              cursor: pointer;
              padding: $filters-menu-gap;
              border-top: 3px solid $secondary-color-dark;
              position: relative;
              &.active {
                background-color: $secondary-color-light;
                color: $primary-color-light;
              }
              .input {
                position: absolute;
                right: 5px;
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@import "./media.module.scss";
