$primary-color-dark: #2b2b2b;
$primary-color: #999;
$primary-color-light: #f4f4f4;
$secondary-color-dark: #121212;
$secondary-color: #191919;
$secondary-color-light: #2a2a2a;
$accent-color: #f0810f;
$error-color: #e32b2b;
$success-color: #5a9516;

$default-gap: 20px;
$header-height: 70px;

@mixin primaryFont {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
