$primary-color-dark: #2b2b2b;
$primary-color: rgba(244, 244, 244, 0.5);
$primary-color-light: #f4f4f4;
$secondary-color-dark: #121212;
$secondary-color: #191919;
$secondary-color-light: #202020;
$accent-color: #f0810f;
$error-color: #e32b2b;

@mixin primaryFont {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
